OPENAI_API_KEY=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
DOTNET_API_BASE_URL=http://backend:8080
ENVIRONMENT=development
GEMINI_API_KEY=AIzaSyATFWsmtiNkBgEUWKyIhTmolI1JLwCsKj0